html, body {
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;
}

canvas {
  display: block;
  z-index: -1;
}

h1{
  text-align: center;
  font-family:
}

a {
  cursor: url('https://eeriley99.github.io/code_sketchbook/icons-master/clickFinger.gif'), auto; 
}

table{
  position: absolute;
  z-index: 1;
  width:132%;
}

td {
    width: 33vw;
    height: 33vw;
    vertical-align: baseline;
    padding-top:20px;
    text-align:center;

    &:after, &:before {
        content: '';

        display: block;
        padding-bottom: calc(50% - 0.5em);
    }
}




.container{
  position: relative;
}

.project {
  position: absolute;
  width:50%;
  float: left;

  left: 0px;
  top: 0px;
  z-index: 1;
}
